.user-form{
   
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
table ,td , tr ,th{
    border: 1px solid black;
}

